@charset "utf-8";
#pm_wrap{position:relative;width:100%}
.evt{position:relative}
.evt a{display:block}
.evt img,.m_img{display:block;width:100%}
.w50{overflow:hidden;width:100%}
.w50 li{float:left;width:50%}
/*sec1*/
.sec1{padding-bottom:8%;background:#1931ab}
/*sec2*/
.sec2 .cp{position:absolute;left:0;bottom:37.5%;width:100%;height:25%;text-indent:-9999px}
/*sec3*/
.sec3{padding-bottom:8%;background:#dae0ff}
.sec3 li:first-child{width:100%}
.slide01{overflow:hidden;position:relative}
.pagination_area{position:relative}
.pagination1{width:100%;height:100%;padding:0 2.7%;box-sizing:border-box}
.pagination1 > span{float:left;width:33.1%;height:38.2%;margin-left:0.3%;box-sizing:border-box}
.pagination1 .swiper-pagination-bullet{border-radius:0;opacity:1}
.pagination1 span:nth-child(1).swiper-pagination-bullet{margin-left:0;background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb1.jpg) no-repeat top;background-size:100% auto}
.pagination1 span:nth-child(1).swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb1_on.jpg)}
.pagination1 span:nth-child(2).swiper-pagination-bullet{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb2.jpg) no-repeat top;background-size:100% auto}
.pagination1 span:nth-child(2).swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb2_on.jpg)}
.pagination1 span:nth-child(3).swiper-pagination-bullet{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb3.jpg) no-repeat top;background-size:100% auto}
.pagination1 span:nth-child(3).swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb3_on.jpg)}
.pagination1 span:nth-child(4).swiper-pagination-bullet{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb4.jpg) no-repeat top;background-size:100% auto;margin-left:0}
.pagination1 span:nth-child(4).swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb4_on.jpg)}
.pagination1 span:nth-child(5).swiper-pagination-bullet{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb5.jpg) no-repeat top;background-size:100% auto}
.pagination1 span:nth-child(5).swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb5_on.jpg)}
.pagination1 span:nth-child(6).swiper-pagination-bullet{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb6.jpg) no-repeat top;background-size:100% auto}
.pagination1 span:nth-child(6).swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/thmb6_on.jpg)}

.nav_wrap{position:relative;z-index:310}
.nav_wrap.fixed .nav{position:fixed;top:0;left:0;width:100%;z-index:100}
.nav_wrap .nav{position:absolute;left:0;top:0;width:100%}
.nav_wrap .nav a{position:absolute;left:0;top:0;width:20%;height:100%;text-indent:-9999px;background-repeat:no-repeat;background-position:0 0;background-size:100% 100%}
.nav_wrap .nav a.btn_anchor1{left:0;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab01_off.jpg)}
.nav_wrap .nav a.btn_anchor2{left:20%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab02_off.jpg)}
.nav_wrap .nav a.btn_anchor3{left:40%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab03_off.jpg)}
.nav_wrap .nav a.btn_anchor4{left:60%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab04_off.jpg)}
.nav_wrap .nav a.btn_anchor5{left:80%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab05_off.jpg)}
.nav_wrap .nav a.btn_anchor1.on{left:0;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab01_on.jpg)}
.nav_wrap .nav a.btn_anchor2.on{left:20%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab02_on.jpg)}
.nav_wrap .nav a.btn_anchor3.on{left:40%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab03_on.jpg)}
.nav_wrap .nav a.btn_anchor4.on{left:60%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab04_on.jpg)}
.nav_wrap .nav a.btn_anchor5.on{left:80%;background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/m/tab05_on.jpg)}


/*sec4*/
.sec4 {padding-bottom:10%;background:#ececec}
.sec4 .btn_mall,.sec4 .btn_cp,.sec4 .btn_noti{overflow:hidden;position:absolute;line-height:999px}
.sec4 .btn_mall{top:10%;left:35%;width:12%;height:8%}
.sec4 .btn_cp{top:58%;left:8%;width:36%;height:19%}
.sec4 .btn_noti{top:82%;left:8%;width:36%;height:10%;background:transparent}
.sec4 .btn_mall.mall_type2{left:82%}
.sec4 .btn_cp.cp_type2{left:56%}
.sec4 .btn_noti.noti_type2{left:56%}
.ly_pop1,.ly_pop2,.ly_pop3,.ly_pop4{display:none;position:absolute;top:100%;left:2.578125%;z-index:10;width:94.84375%}
/*sec5*/
.sec5 .w50 li:first-child{width:100%}
.sec5 .cate{padding-bottom:7%;background:#ececec}
.tab{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%}
.tab li{float:left;width:20%;height:100%}
.tab li a{display:block;height:100%;text-indent:-9999px}
/*sec6*/
.sec6 .cate{overflow:hidden;position:absolute;top:0;left:3%;width:94%;height:100%;background:transparent}
.sec6 .cate li{float:left;width:20%;height:50%}
.sec6 .cate li a{display:block;height:100%;text-indent:-9999px}
.sec6 .go{overflow:hidden;position:absolute;top:24%;left:0;width:100%;height:45%}
.sec6 .go li{float:left;width:50%;height:100%}
.sec6 .go li a{display:block;height:100%;text-indent:-9999px}