img{vertical-align:top}
#pm_wrap{overflow:hidden;min-width:980px;text-align:center}
.sec{position:relative;width:980px;margin:0 auto}

.top1{height:244px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/top1.jpg) 50% 0 no-repeat}
.top2{height:244px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/top2.jpg) 50% 0 no-repeat}

.sec1{padding-bottom:30px;background:#1931ab}
.sec1 .day li{width:980px;height:573px;margin-bottom:30px;position:relative}
.sec1 .day li a{position:absolute;top:0;left:0;width:100%;height:100%}
.sec1 .day li:first-child{height:640px}
.sec1 .day li:first-child a{top:67px;height:573px}


.sec2{height:622px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/sec2.jpg) no-repeat 50% 0}
.sec2 .sec{position:relative}
.sec2 .cp{position:absolute;top:245px;left:220px;width:541px;height:155px;text-indent:-9999px}

.sec3{padding-bottom:50px;background:#dae0ff}
.slide01{position:relative;width:980px;margin:0 auto;padding-top:55px}
.slide01 .slide{overflow:hidden;position:relative;width:980px;height:880px}
.pagination1{width:980px;height:55px;margin-bottom:10px;top:-10px;z-index:100}
.pagination1 .swiper-pagination-bullet{display:inline-block;float:left;width:165px;height:55px;margin-left:2px;border-radius:0;opacity:1}
.pagination1 span{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/thmb_off.jpg) no-repeat;cursor:pointer}
.pagination1 span.swiper-pagination-bullet.swiper-pagination-bullet-active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/thmb_on.jpg)}
.pagination1 span:first-child{margin-left:0px;background-position:0 0}
.pagination1 span:first-child + span{width:165px;background-position:-167px 0}
.pagination1 span:first-child + span + span{background-position:-333px 0}
.pagination1 span:first-child + span + span + span{background-position:-501px 0;margin-left:3px}
.pagination1 span:first-child + span + span + span + span{width:165px;background-position:-668px 0}
.pagination1 span:first-child + span + span + span + span + span{width:142px;background-position:-836px 0;margin-left:3px}

.slide01 .bx{width:978px;border:1px solid #b3b8d1;border-top:0 none}

.sec4{position:relative;height:966px;z-index:10;background:#ececec url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/sec4.jpg) no-repeat 50% 0}
.cp_lst{position:absolute;top:227px;left:0;width:980px;*zoom:1}
.cp_lst:after{display:block;clear:both;content:''}
.cp_lst li{position:relative;float:left;width:490px;height:336px;margin-bottom:10px}
.btn_mall,.btn_cp,.btn_noti{overflow:hidden;position:absolute;line-height:999px}
.btn_mall{top:34px;left:300px;width:70px;height:28px}
.fine_drive{top:30px;left:361px}
.mando{top:30px;left:286px}
.btn_cp{top:201px;left:130px;width:240px;height:60px}
.btn_noti{top:269px;left:133px;width:230px;height:45px;background:transparent}

.sec5{padding-bottom:30px}
.tab{overflow:hidden;width:980px;height:80px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/tab1.jpg) no-repeat 50% 0}
.tab.tab_type1{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/tab1.jpg)}
.tab.tab_type2{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/tab2.jpg)}
.tab.tab_type3{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/tab3.jpg)}
.tab.tab_type4{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/tab4.jpg)}
.tab.tab_type5{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/tab5.jpg)}

.tab li{float:left;width:20%}
.tab li a{display:block;height:80px;text-indent:-9999px}
.sec5 .cate{margin:12px 0 20px}

.sec6{height:784px;background:#2a2a2a url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/sec6.jpg) no-repeat 50% 0}
.sec6 .cate{overflow:hidden;position:absolute;top:216px;left:-5px;width:990px}
.sec6 .cate li{float:left;margin:10px 0 0 10px}
.sec6 .cate li a{display:block;width:186px;height:203px;text-indent:-9999px}
.sec6 .go{overflow:hidden;position:absolute;left:137px;top:675px}
.sec6 .go li{float:left;margin-left:36px}
.sec6 .go li a{display:block;width:301px;height:59px;text-indent:-9999px}
.bx{padding:30px 0;background:#fff}

/*ly*/
.ly_pop1,.ly_pop2,.ly_pop3,.ly_pop4{display:none;position:absolute;top:262px;left:0;z-index:10;width:487px;height:212px}
.ly_pop1{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/ly_pop1.jpg) no-repeat 50% 0}
.ly_pop2{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/ly_pop2.jpg) no-repeat 50% 0}
.ly_pop3{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/ly_pop3.jpg) no-repeat 50% 0}
.ly_pop4{background:url(http://image.gmarket.co.kr/Gmkt_Event/2017/07/0717_car/ly_pop4.jpg) no-repeat 50% 0}