/*ktshop all layer*/
.sp_vipgroup_kt,.vip-ktshop .item_options .arr{background:url(http://pics.gmarket.co.kr/pc/ko/item/vip/sp_vipgroup_ktshop.png) no-repeat}
.layer_ktshop{width:498px;background-color:#f8f9fa;border:1px solid #222}
.layer_ktshop .tit_viplayer{padding:14px 0 14px 15px;border:1px solid #222;background-color:#222;font-size:17px;font-weight:normal;color:#fff;box-shadow:0}
.layer_ktshop .bt_close{top:8px;right:6px;width:auto;height:auto;padding:8px;background:none}
.layer_ktshop .bt_close .sp_vipgroup_kt{overflow:hidden;display:block;width:19px;height:19px;background-position:-186px -150px;line-height:999px}
.layer_ktshop .lst_cate{overflow:hidden;border-bottom:1px solid #d9d9d9;background-color:#fff}
.layer_ktshop .lst_cate li{float:left;width:25%;padding:15px 0;text-align:center;*clear:right;background-color:#0066cc}
.layer_ktshop .lst_cate a{display:block;background-color:#fff;color:#777}
.layer_ktshop .lst_cate a:hover{text-decoration:none}
.layer_ktshop .lst_cate .on a{font-weight:bold;color:#2b85d9}
.layer_ktshop .lst_cate .disabled a{color:#ccc}
.layer_ktshop .lst_cate .img{display:block;width:48px;height:48px;margin:0 auto 2px}
.layer_ktshop .lst_cate .lst_item_normal .img{background-position:0 0}
.layer_ktshop .lst_cate .lst_item_children .img{background-position:-50px 0}
.layer_ktshop .lst_cate .lst_item_youth .img{background-position:-100px 0}
.layer_ktshop .lst_cate .lst_item_old .img{background-position:-150px 0}
.layer_ktshop .lst_cate .on.lst_item_normal .img{background-position:0 -50px}
.layer_ktshop .lst_cate .on.lst_item_children .img{background-position:-50px -50px}
.layer_ktshop .lst_cate .on.lst_item_youth .img{background-position:-100px -50px}
.layer_ktshop .lst_cate .on.lst_item_old .img{background-position:-150px -50px}
.layer_ktshop .lst_cate .disabled.lst_item_normal .img{background-position:0 -100px}
.layer_ktshop .lst_cate .disabled.lst_item_children .img{background-position:-50px -100px}
.layer_ktshop .lst_cate .disabled.lst_item_youth .img{background-position:-100px -100px}
.layer_ktshop .lst_cate .disabled.lst_item_old .img{background-position:-150px -100px}
.layer_ktshop .lst_cate .on .img{border-color:#2e8de5}
.layer_ktshop .detail_cont{overflow-y:auto;position:relative;height:529px;margin:0;padding:0 20px 45px}
.layer_ktshop .detail_cont+.detail_cont{display:none}
.layer_ktshop .detail_cont .description{padding:16px 0 3px;text-align:right;font-size:12px;color:#999}
.layer_ktshop .detail_cont .option_bx{margin-top:6px;background-color:#fff;border:1px solid #e5e5e5}
.layer_ktshop .detail_cont .tit_area{overflow:hidden;position:relative;height:63px;padding:0 44px 0 18px;box-sizing:border-box}
.layer_ktshop .detail_cont .tit_area .btn_detail{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;background:none;line-height:999px}
.layer_ktshop .detail_cont .tit_area .btn_detail .sp_vipgroup_kt{position:absolute;top:27px;right:17px;width:16px;height:9px;background-position:-150px -150px}
.layer_ktshop .detail_cont .tit_area .btn_detail.on .sp_vipgroup_kt{background-position:-168px -150px}
.layer_ktshop .detail_cont .tit_area .tit{float:left;height:100%;line-height:62px;font-size:16px;color:#222}
.layer_ktshop .detail_cont .tit_area .price{float:right;height:100%;line-height:62px;font-size:16px;color:#2b85d9}
.layer_ktshop .detail_cont .tit_area .price .num{font-weight:bold}
.layer_ktshop .detail_cont .option_bx .info_lst{display:none}
.layer_ktshop .detail_cont .option_bx .info_lst.on{display:block}
.layer_ktshop .detail_cont .option_bx .info_lst li{overflow:hidden;position:relative;padding:13px 17px 15px;border-top:1px solid #e5e5e5;color:#222}
.layer_ktshop .detail_cont .option_bx .info_lst .tit{display:block;padding-right:116px;font-size:16px;font-weight:bold;color:#222}
.layer_ktshop .detail_cont .option_bx .info_lst .price{position:absolute;top:18px;right:18px;font-size:15px;color:#222}
.layer_ktshop .detail_cont .option_bx .info_lst .price .num{font-weight:bold}
.layer_ktshop .detail_cont .option_bx .info_lst .txt{display:block;margin-top:10px;padding-right:90px;font-size:13px;line-height:19px;box-sizing:border-box}
.layer_ktshop .detail_cont .option_bx .info_lst .txt .stit{font-weight:bold}
.layer_ktshop .detail_cont .option_bx .info_lst .lb_rdo{position:absolute;bottom:18px;right:18px;width:59px;height:31px;border:1px solid #2e8de5;font-size:14px;font-weight:normal;color:#2b85d9;line-height:30px;box-sizing:border-box;text-align:center}
.layer_ktshop .detail_cont .option_bx .info_lst .lb_rdo input{-webkit-appearance:none;width:0;height:0}
.layer_ktshop .detail_cont .option_bx .info_lst .ico_rdo{display:inline-block;position:relative;*top:-6px;width:12px;height:9px;margin:11px 2px 0 0;background-position:0 -150px;vertical-align:top}
.layer_ktshop .detail_cont .option_bx .info_lst .lb_rdo.on{background-color:#2e8de5;color:#fff}
.layer_ktshop .detail_cont .option_bx .info_lst .lb_rdo.on .ico_rdo{background-position:-14px -150px}
.layer_ktshop .detail_cont .ico_loading{overflow:hidden;position:absolute;top:50%;left:50%;width:32px;height:32px;margin:-16px 0 0 -16px;background:url(//mockupdev.gmarket.co.kr/pc/images/ko/item/vip/ico_loading.gif) no-repeat;line-height:999px}
