/* RESET */
*{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{-webkit-text-size-adjust:none}
ul,ol{list-style:none}
button{-webkit-border-radius:0;border-radius:0;border:0;background-color:transparent;cursor:pointer}
a,a:hover,a:active,a:focus{text-decoration:none}
em,address{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
iframe,fieldset,img{border:0}
textarea{resize:none}
input[type="button"],input[type="email"],input[type=number],input[type="password"],input[type="reset"],input[type="search"],input[type="submit"],input[type="tel"],input[type="text"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{vertical-align:top}
hr{display:none}
.for-a11y{ position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);overflow: hidden;text-indent: -5000em;}
body, table, input, textarea, select, button, th, td, p, dl, dt, dd, li, pre, div, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, blockquote, legend{font-size: 16px;line-height: 1.25em;font-family: -apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,Roboto,Noto Sans CJK KR,Tahoma,"Noto Sans KR",sans-serif;}
/* sprite */
.sprite__cart,
.sprite__cart--before:before,
.sprite__cart--after:after{content:'';overflow:hidden;display:inline-block;font-size:0;background:url(//pics.gmarket.co.kr/mobile/sprite/kr/cart/sprite__cart.png) no-repeat;background-size:300px auto}

/* page wrap*/
.section__cart-list{position:relative;padding-bottom:50px}
/* header */
.box__header{overflow:hidden;padding:10px;border-bottom:1px solid #dbdbdb}
.box__header .text__title{float:left;font-size:24px;line-height:42px;}
.box__header .text__all-number{float:left;font-size:18px;width:24px;height:24px;margin:10px 0 0 10px;border-radius:50%;background-color:#222;color:#fff;line-height:24px;text-align:center;}
/* add-form */
.box__cart-add-item{padding:10px}
.box__cart-add-item .box__form{position:relative}
.box__cart-add-item .form__item-text{display:block;width:100%;height:30px;padding:0 62px 0 10px;border:1px solid #727272;}
.box__cart-add-item .form__item-text::placeholder {color:#727272;}
.box__cart-add-item .button__add{position:absolute;top:0;right:0;width:52px;height:30px;padding:0 10px;line-height:30px;background-color:#727272;color:#fff;vertical-align:top;}
/* list */
.list__cart-item{padding:10px}
.list__cart-item .list-item{overflow:hidden;}
.list__cart-item .list-item + .list-item{margin-top: 10px;padding-top: 10px;border-top: 1px solid #ccc;}
.list__cart-item .box__image{float:left;width:72px;height:72px;background-color:#727272;border-radius:8px;}
.list__cart-item .box__information{overflow:hidden;padding:0 10px}
.list__cart-item .box__information .box__title{font-size:16px;color:#222;line-height:24px;margin-bottom:10px;}
.list__cart-item .box__information .box__number{float:left;margin-left:10px;}
.list__cart-item .box__information .box__item-count{float:left;position:relative}
.list__cart-item .box__information .box__item-count .button__increase{position:absolute;top:0;right:0;width:24px;height:24px;background-position: -26px 0;}
.list__cart-item .box__information .box__item-count .button__decrease{position:absolute;top:0;left:0;width:24px;height:24px;background-position: 0 0;}
.list__cart-item .box__information .box__item-count .form__number{width: 32px;height: 24px;margin: 0 30px;background: #eee;border: 0;border-radius: 4px;font-size: 16px;color: #000;text-align: center;}
.list__cart-item .button__delete{height:24px;margin-left:10px;font-size:14px;padding:2px 5px;border:1px solid #727272;color:#222;border-radius:5px;line-height:24px;}

.button__all-delete{position:fixed;bottom:0;left:0;width:100%;height:50px;color:#fff;background-color:#727272;text-align:center;line-height:50px;}